@import url(/src/css/root.css);



#criarHabitoForm {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 50px;

  position: absolute;
  width: 502px;
  height: 482px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #FFFFFF;
  border-radius: 8px;
  
  -webkit-animation: modal-animation 0.5s;
  animation: modal-animation 0.5s;
}

@keyframes modal-animation {
  0%{
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  100%{
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

#backgroundCriarHabit{

  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: none;

}

#formLabelTitulo {
  height: 40px;
  width: 438px;
  left: 0px;
  top: 30px;
  border-radius: 4px;
  padding: 9px, 28px, 9px, 18px;
  background: #f1f3f5;
}

#formLabelDescricao {
  height: 80px;
  width: 438px;
  left: 0px;
  top: 25px;
  border-radius: 4px;
  padding: 16px, 18px, 16px, 18px;
  background: #f1f3f5;
}

#formLabelCategoria {
  height: 40px;
  width: 438px;
  left: 0px;
  top: 25px;
  border-radius: 4px;
  padding: 9px, 18px, 9px, 18px;
  background: #f1f3f5;
}

#TextHabito {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #212529;
}

#btnForm {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 50px;
  gap: 10px;

  position: absolute;
  width: 438px;
  height: 40px;
  left: 32px;
  top: 410px;

  background: #415af3;

  border: 2px solid #415af3;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: white;
}

#textTitulo {
  position: absolute;
  top: 80px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #343a40;
}

#textDescricao {
  position: absolute;
  top: 175px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #343a40;
}

#textCategoria {
  position: absolute;
  top: 305px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #343a40;
}

input::placeholder {
  width: 128px;
  height: 19px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #343a40;

  flex: none;
  order: 0;
  flex-grow: 0;
}

option {
  font-family: "Inter";
  color: #343a40;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

#exit {

    position: absolute;
    width: 14px;
    height: 0px;
    left: 446px;
    top: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 0px;
    color: #ADB5BD;
    cursor: pointer;
    
    
}

#formLabelTitulo::-webkit-input-placeholder {


padding: 20px;

}

#formLabelDescricao::-webkit-input-placeholder {


  padding: 20px;
  
  }

  #formLabelCategoria{
   

    padding: 11px;


  }