#modalEditar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
} 
#modal__board{
  position: absolute;
  width: 350px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #FFFFFF;
  padding: 30px 14px 24px;
  -webkit-animation: modal-animation 0.5s;
  animation: modal-animation 0.5s;
}

@keyframes modal-animation {
  0%{
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  100%{
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

#modal__header{
  color: #212529;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-inter);
  font-size: var(--font-title-5-tamanho);
  font-weight: 600;
}
#modal__header > button{
  color: #ADB5BD;
  background-color: #FFFFFF;
  cursor: pointer;
}
#modal__form{
  display: flex;
  flex-direction: column;
  gap: 28px;
}
#modal__form__divs{
  
  font-family: 'Inter', sans-serif;
  color: #343A40;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: var(--font-text-3-tamanho);
  font-weight: var(--font-text-3-4-grossura);
}

#formEditarNome{
  position: absolute;
  top: 100px;
  left: 30px;
  background-color: rgba(var(--cor-grey-5));
  border-radius: 4px;
  gap: 10px;
  padding: 9px 18px;
  border: 2px solid #F1F3F5;
  height: 40px;
  width: 277px;
}
#textNome{
 
  font-family: 'Inter', sans-serif;
  position: absolute;
  top:80px;

}

#textImagem{

font-family: 'Inter', sans-serif;
position: absolute;
top: 180px;

}

#formEditarFoto{
  position: absolute;
  top: 200px;
  left: 30px;
  background-color: rgba(var(--cor-grey-5));
  border-radius: 4px;
  gap: 10px;
  padding: 9px 18px; 
  border: 2px solid #F1F3F5;
  height: 40px;
  width: 277px;
}

option{
  font-size: var(--font-text-2-tamanho);
  font-weight: var(--font-text-1-5-grossura);
}

#btnEditar{
  position: absolute;
  color: #FFFFFF;
  background-color: #A0ADF9;
  width: 213px;
  height: 40px;
  border: 2px solid #A0ADF9;
  border-radius: 4px;
  font-size: var(--font-text-2-tamanho);
  font-family: var(--font-inter);
  font-weight: var(--font-title-grossura);
  width:280px;
  top: 260px;
  left: 30px;
}

@media (min-width:768px) {
  #modal__board{
    width: 502px;
    height: 349px;
   padding: 38px 32px 32px;
  }
  #formEditarNome{
      
      height: 40px;
      width: 438px;
  }
  #formEditarFoto{
      height: 40px;
      width: 438px;
  }
 
      
 #btnEditar{
   width: 440px;
 }

  
  }

